
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000; /* Fondo negro */
            color: #ffffff; /* Color de texto blanco */
            /*overflow: hidden;  Evita el scroll debido a la animación */
        }

        header {
            background: linear-gradient(to right, #000000, #212222); /* Negro mezclado con azul oscuro */
            color: #ffffff;
            padding: 20px;
            text-align: left;
            font-size: 2.5em;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            letter-spacing: 1px;
            position: relative;
            z-index: 2; /* Asegura que el encabezado esté encima del efecto de Matrix */
        }

        .container {
            width: 80%;
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background-color: #000000; /* Fondo negro para el contenedor */
            border-radius: 8px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 2; /* Asegura que el contenido esté encima del efecto de Matrix */
        }

        .panel-links {
            display: flex;
            flex-direction: column;
        }

        .panel-links a {
            display: inline-block;
            margin-bottom: 20px;
            padding: 10px 20px;
            background-color: #212222; /* Azul oscuro para los enlaces del panel */
            color: #ffffff; /* Color del texto del enlace */
            text-decoration: none;
            border-radius: 5px;
            font-size: 1.2em;
            transition: background-color 0.3s;
        }

        .panel-links a:hover {
            background-color: #000000; /* Negro para el hover */
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1; /* Asegura que el canvas esté detrás del encabezado y el contenido */
        }
  
         /* Estilo para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll */
}

::-webkit-scrollbar-track {
    background-color: #212222; /* Color del fondo de la barra de scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color del pulgar de la barra de scroll */
    border-radius: 10px; /* Bordes redondeados del pulgar */
    border: 2px solid #212222; /* Borde del pulgar, creando un efecto de separación */
}

/* Estilo para Firefox */
html {
    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #000000 #212222; /* Color del pulgar y del fondo de la barra de scroll */
}